{% extends "drug_search/drug_base.html" %}
{% load staticfiles %}
{%block headlink %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="{% static 'drug_search/js/test2.js' %}"></script>
<link href="{% static 'drug_search/css/test.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{%block body_content %}
<div id="scatterplot"> 
</div>
<button onclick="updateGraph(1);">Increase</button>
<script>
    load(data_set);
</script>
{% endblock %}