.outer
{
    fill:white;
    stroke:green;
    stroke-width:2px;
}
/*This targets the gene class (node)*/
.Drugable
{
    fill:blue;
    opacity: 1;
}
/*This targets the gene class text (node)*/
text.Drugable
{
    fill:black;
    stroke:none;
    opacity:.80;
    font-weight:bold;
}
.Regular
{
    fill:blue;
    stroke:red;
    stroke-width: 3px;
    stroke-dasharray: 5,2;
}
text.Regular
{
    stroke:none;
    fill:black;
    opacity:.80;
    font-weight:bold;
}
/*This targets the single interaction class (link)*/
.Single
{
    stroke: yellow;
    stroke-opacity:.75;
}
/*This targets the double interaction class (link)*/
.Double
{
    stroke: red;
    stroke-opacity:.8;
}
.Indirect
{
    stroke:grey;
    stroke-opacity:.45;
}
/*This targets the legend id (node)*/
#legend_border
{
    fill:rgb(255,255,255);
    stroke-width:1;
    stroke:rgb(0,0,0);
}
.table_scroll
{
    width:450px;
    height:400px;
    overflow:scroll;
}
.table_condensed
{
    width:250px;
}
#linkrow:hover th:nth-child(1)
{
     color:blue;
}
.modal#progress_bar
{
    position: absolute;
    top: 50%;
}