/*This is for the report.html template only*/
.table_scroll
{
    height:100px;
    overflow:scroll;
}
#drug_table_of_contents
{
    height:300px;
}
/*This targets the link row id*/
#linkrow:hover th:nth-child(1)
{
   color:blue;
}
/*.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #75FFFF;
}*/
.approved
{
    background-color:rgb(111,232,144);
}
figure.approved
{
    background-color:rgba(111,232,144,.6);
}
.investigational
{
    background-color:rgb(187,237,47);
}
figure.investigational
{
    background-color:rgb(187,237,47,0.6);
}
.withdrawn
{
    background-color:rgb(240,170,50);
}
figure.withdrawn
{
    background-color:rgb(240,170,50,0.6);
}
.experimental
{
    background-color:rgb(151,198,247);
}
figure.experimental
{
    background-color:rgb(151,198,247,0.6);
}
.nutraceutical
{
    background-color:rgb(245,115,243);
}
figure.nutraceutical
{
    background-color:rgb(245,115,243,0.6);
}
.illicit
{
    background-color:rgb(255,5,47);
}
figure.illicit
{
    background-color:rgb(255,5,47,0.6);
}
.unknown
{
    background-color:rgba(96,96,96,.6);
}
.drug_list
{
    height:200px;
}
.modal
{
    position: absolute;
    top: 50%;
}